@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --glass: rgba(255, 255, 255, 0.06);
}
/* body,
a,
button {
  cursor: none;
} */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* glassmorphism helper */
.glass {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.01)
  );
  border: 1px solid rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(8px);
}

/* Hover Green Glow */
.hover\:shadow-green:hover {
  box-shadow: 0 0 20px #1dbf73, 8px 8px 16px rgba(0, 128, 64, 0.2),
    -8px -8px 16px rgba(255, 255, 255, 0.7);
}
